body{
    background-color: black;
}
h1{
    color: white;
text-align: center;
}
p{
    color: aqua;
}
.imagem-banner{
    text-align: center;
}
.itens {
    font-style: italic;
}
.beneficios{
    background-color: white;
    padding: 20px;
}

h2 {
    text-align: center;
}
ul{ 
    display: inline-block;
    vertical-align: top;
    width: 20%; 
    margin-right: 15%;
}
.imagembeneficios {
    width: 40%;
}